 
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 9999;
    transition: opacity 0.5s ease;
  }
  
  body.loaded #loader {
    opacity: 0;
    pointer-events: none;
  }

  .dark-mode-toggle {
   position: absolute;
   bottom: 10px;
   right: 10px;
   font-size: 24px;
   cursor: pointer;
 }
 
 body.dark {
   background-color: #121212;
   color: white;
 }
 
 header {
    background-color: orangered;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }

 header h1 {
    margin: 0 auto;
    font-size: 28px;
    color: white;
    text-align: center;
    width: 100%;
  }

 header img {
    position: absolute;
    left: 20px;
    top: 10%;
  }
  

 nav {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
 nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

 nav a:hover {
    text-decoration: underline;
  }


 body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
 }

 main {
    max-width: 800px;
    margin: auto;
 }

 h1, h2 {
    color: orangered;
    margin-top: 20px;
    margin-bottom: 10px;
 }

 label {
    display: block;
    margin-top: 10px;
 }


 input, textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
 }

 button {
    margin-top: 10px;
    padding: 5px 10px;
 }

 button:hover {
    background-color: orangered;
 }


 .faq-question {
    background-color: transparent;
    border: none;
    font-size: 1.1em;
    color:white;
    cursor: pointer;
    text-align: left;
    padding: 8px 0;
 }

 .hidden {
    display: none;
 }

 .faq-answer {
    display: none;
    margin-top: 5px;
    padding-left: 10px;
    border-left: 2px solid #ccc;
    color: white;
 }
 footer {
    text-align: center;
    padding: 30px;
    background-color: orangered;
    color: white;
    margin-top: 220px;
  }