/* === Général === */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #141414;
}

h1  {
    margin: 0;
    color: rgb(255, 255, 255);
    margin-right: 60%;
  
}

/*  En-tête  */
header {
    background-color: orangered;
    border-bottom: 2px solid #ddd;
    padding: 10px 20px;
    
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    height: 80px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

nav a:hover {
    color: #f7941e;
}

#theme-toggle {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

/*  Section recherche et filtres  */
.recherche-filtrage {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#search-bar - (search-button) {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;

}
#search-button{
    background-color: #f7941e;
    
}



.filtres {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.filtres select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* === Grille de recettes === */
.grille-recettes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.recette {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recette img {
    width: 60%;
    border-radius: 10px;
}

.favori-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.recette p {
    margin: 4px 0;
}

.recette button {
    background-color: #f7941e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

/* Étiquettes (badges)  */
.recette p span {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    color: white;
    margin-right: 5px;
}



/*  Pied de page  */
footer {
    background-color: orangered;
    padding: 8px;
    margin-top: 7PX;
    display: flex;
    flex-wrap: wrap;
    
}
.a-propos {
    color: #ffffff;
    width: 100% ;
    font-weight: bold;
    margin-left: 50%;
    
   
}
.text-a-propos {
    color: #f7dcdc;
    font-weight: bold;
    font-size: 18px;
}
footer ul {
    list-style: none;
    
    
}

footer li {
    
    color: white;
    
    
}

footer a {
    text-decoration: none;
    color: #555;
}


footer p {
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 13px;
}
