/* === Général === */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #141414;}
    body.dark {
        background-color: #121212;
        color: #ffffff;
      }
      body.dark .info-recette{
        box-shadow: 0 1px 12px rgba(255, 35, 35, 0.925)
      }
      body.dark .recette-image {
        box-shadow: 0 10px 15px rgba(255, 225, 225, 0.671)
      }
      body.dark .tiramisu {
        box-shadow: 0 1px 12px rgba(255, 35, 35, 0.925)
      }
      body.dark .Gratin {
        box-shadow: 0 1px 12px rgba(255, 35, 35, 0.925)
      }
    
      button {
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
        cursor: pointer;
      }

header {
    background-color: orangered;
    border-bottom: 2px solid #ddd;
    padding: 10px 20px;
    
}
h1  {
    margin: 0;
    color: rgb(255, 255, 255);
    margin-right: 60%; 
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    height: 80px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}


#theme-toggle {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}


/* === Grille de recettes === */
.recette-detail {
    display: non;
    margin-left: 25px;
}


.info-recette {
    width: 90%;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 11px 15px rgba(0, 0, 0, 0.3);
}

.recette-image {
    width: 35%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.suggestions{

    margin-left: 20px;
margin-top: 100px;

}

/*  Pied de page  */
footer {
    background-color: orangered;
    padding: 8px;
    margin-top: 17PX;
    display: flex;
    flex-wrap: wrap;
    
}
.a-propos {
    color: #ffffff;
    width: 100% ;
    font-weight: bold;
    margin-left: 80%;
    
   
}
.text-a-propos {
    color: #0c0c0c;
    font-weight: bold;
    font-size: 18px;
}
footer ul {
    list-style: none;
     
    
}

footer > ul >li {
    
    color: white;
   

    
}

footer a {
    text-decoration: none;
    color: #555;
}


footer p {
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 13px;
}